torch==2.2.0
torchvision==0.16.0
numpy==1.25.0
scipy==1.11.0
matplotlib==3.9.1
opencv-python==4.9.0.74
tqdm==4.66.1
Pillow==10.1.0
streamlit==1.26.1
pyngrok==5.2.1
twilio==8.8.0
google-colab==1.0.0
